@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-iis-maroon: #800000;
  --color-iis-gold: #C5A059;
  --color-iis-navy: #1e293b;
  --color-iis-cream: #F9F9F7;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
